# See http://help.github.com/ignore-files/ for more about ignoring files.
docker-compose.override.example.yml
docker-compose.override.yml
# compiled output
dist
node_modules
/tmp
/datadir
/out-tsc
/server/build
/src/*.js
*js.map
# dependencies
/node_modules
/server/node_modules
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# misc
newrelic_agent.log
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
# System Files
.DS_Store
Thumbs.db
#env
.test.env
/dist
.nyc_output
secure-connect-poc.zip
sf-class2-root.crt
.nyc_output
src/**/*.js*
**/*.d.ts
index.js*
.DS_Store
*.tgz
package
tsconfig.tsbuildinfo
.vscode/settings.json
.idea/
.vscode/
node_modules/
build/
tmp/
temp/
logs
coverage/lcov-report
coverage/coverage-final.json
coverage/clover.xml
/.nyc_output/
logs/

# don't check in  env files
.env.prod
.env.staging
**/.DS_Store
.env.test
.env
.env.local
