*.sql
*.yml
!bin
dist
lma-DB
src/config/config.local.json
example
test
tsconfig.json
src/**/*.ts
!src/**/*.d.ts
index.ts
.nyc_output
package-lock.json
.DS_Store
.eslintrc.js
.eslintignore
*.tgz
package
.env
./**/*/*.tsbuildinfo
**/*.spec.ts
**/*.spec.js
**/*.spec.js.map
**/*.spec.d.ts
